<% include header %>
<div class="jumbotron margin-bottom-0">
  <div class="container">
    <div class="float-left">
      <h1>****期货</h1>
      <p>-------您身边的的期货专家</p>
    </div>

    <% if(userName === false) { %>
    <div class="float-right width-330px">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>
      <div class="form-group from-inline">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">登录/注册</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  <% } %>
</div>

<div class="panel panel-default">
  <div class="panel-body min-height-300px">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active">
        <a href="#home" data-toggle="tab">
          主页
        </a>
      </li>
      <li><a href="#news" data-toggle="tab">期货新闻</a></li>
      <li><a href="#data" data-toggle="tab">实时行情</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="home">
        <p>期货（Futures）与现货完全不同，现货是实实在在可以交易的货（商品），期货主要不是货，而是以某种大宗产品如棉花、大豆、石油等及金融资产如股票、债券等为标的标准化可交易合约。因此，这个标的物可以是某种商品（例如黄金、原油、农产品），也可以是金融工具。
          交收期货的日子可以是一星期之后，一个月之后，三个月之后，甚至一年之后。
          买卖期货的合同或协议叫做期货合约。
          买卖期货的场所叫做期货市场。
          投资者可以对期货进行投资或投机。大部分人认为对期货的不恰当投机行为，例如无货沽空，可以导致金融市场的动荡，这是不正确的看法，可以同时做空做多，才是健康正常的交易市场。</p>
      </div>
      <div class="tab-pane fade" id="news">
        <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
          TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
      </div>
      <div class="tab-pane fade" id="data">
        <p>data。</p>
      </div>

    </div>
  </div>
</div>
  <h6 class="float-right">
    dongshaoshuai@ucloud.cn
  </h6>
<div>

<% include footer %>